
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>
                    <strong>AfricanSpending</strong> maps out the ways in which public data can be
                    used to improve the way we understand how governments spend our money.
                </p>
                <p>
                    This site is a project of <a href="http://codeforafrica.org">Code for Africa</a>,
                    all content is released under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons 4 Attribution</a> license. Page code is <a href="https://github.com/CodeForAfrica/AfricanSpending">available on GitHub</a>.
                    
                </p>
            </div>
            <div class="col-md-4">
                <ul>
                    <li><a href="http://openspending.org">OpenSpending.org Global Community</a></li>
                    <li><a href="http://africaopendata.org">Africa Open Data Portal</a></li>
                    <li><a href="http://investigativecenters.org">African Network of Centers for Investigative Reporting</a> (ANCIR)</li>
                    <li><a href="https://www.facebook.com/HacksHackersAfrica">Hacks/Hackers Africa</a></li>

                </ul>
            </div>
            <div class="col-md-4">
                <a href="http://codeforafrica.org">
                    <img src="{{url_for('static', filename='images/c4a.png')}}">
                </a>
                <!--a href="http://icfj.org">
                    <img src="{{url_for('static', filename='images/icfj_alpha.png')}}">
                </a-->
                <a href="http://openspending.org">
                    <img src="{{url_for('static', filename='images/openspending.png')}}">
                </a>
            </div>
        </div>
    </div>
</footer>
